<!DOCTYPE html>
<html lang="en">
<head>
    <meta charsets="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/logout" method="post">
    <button type="submit">Disappear!!</button>
</form>
<form action="/create-message" method="post">
    <input type="text" placeholder="Write a message" name="messageBox"/>
    <button type="submit">Remember this!!</button>
</form>
<form action="/edit-message" method="post">
    <input type="text" placeholder="MSG number to edit" name="messageMangler"/>
    <input type="text" placeholder="MSG new text" name="messageSurgeon"/>
    <button type="submit">Make Edit Love</button>
</form>
<form action="/delete-message" method="post">
    <input type="text" placeholder="MSG number to del" name="messageKiller"/>
    <button type="submit">Delete!!</button>
</form>
Messages by {{name}}:
<ol>
    {{#messageAdd}}
    <br>
    <li>{{messages}}</li>

    {{/messageAdd}}
</ol>
</body>
</html>